body {
  margin: 0;
  padding: 0;
}

/* header section:title */
.www {
  background: #D61120;
  padding: 10px;
}


.title-container {
  display: inline;
}

.title-container > h1 {
  display: inline;
  color: #D61120;
  font-size: 50px;
  margin-block: 0px;
}



/* header section: links */

.header2 {
  background: #ffffff;
  padding: 10px;
}

.links {
  display: inline;
  font-size: 30px;
  margin-left: 10em;
}
.links > ul {
  list-style: none;
  display: inline;
  margin-block: 0px;
  
}

.links > ul > li {
  text-align: center;
  display: inline;
  margin-block: 0px;
  color: rgb(0, 0, 0);
  position: relative;
  bottom: 10px;   
}

.links > ul > li:first-child {
  font-weight: bolder;  
  padding-top: 50px;
  padding-bottom: 25.8px;
  color: #070707; 

}
